{% extends 'matchos/base.html' %}

{% block content %}
    {% if matches %}
        <div class="row">
            <div class="col-md-12">
            <h1 align="center">Table</h1>
                <table>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Points</th>
                            <th>Goals</th>
                            <th>Goals against</th>
                            <th>Goal Difference</th>
                            <th>Games played</th>
                        </tr>
                    {% for team in table %}
                        <tr>
                            <th>{{ team.rank }}</th>
                            <th><a href="/matchos/football/team/{{ team.team_id }}/">{{ team.team_name }}</a> </th>
                            <th>{{ team.points }}</th>
                            <th>{{ team.goals }}</th>
                            <th>{{ team.goals_against }}</th>
                            <th>{{ team.goal_difference }}</th>
                            <th>{{ team.played_games }}</th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
            <h1 align="center">Matches</h1>
                <table>
                        <tr>
                            <th>Home Team</th>
                            <th> </th>
                            <th> </th>
                            <th>Away Team</th>
                            <th>Date</th>
                            <th>Season ID</th>
                        </tr>
                    {% for match in matches%}
                        <tr>
                            <th><a href="/matchos/football/team/{{ match.hometeamid }}/">{{ match.hometeamname }}</a> </th>
                            <th>{% if match.goalshometeam == None %}
                                :
                                {% else %}
                                {{ match.goalshometeam }}
                                {% endif %}
                            </th>
                            <th>{% if match.goalsawayteam == None %}
                                :
                                {% else %}
                                {{ match.goalsawayteam }}
                                {% endif %}
                            </th>
                            <th><a href="/matchos/football/team/{{ match.awayteamid }}/">{{ match.awayteamname }}</a> </th>

                            <th>{{ match.date|slice:":10" }}</th>
                            <th class="seasonid"><a href="/matchos/football/season/{{ match.season_id }}/">{{ match.season_id }}</a></th>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <p>Nope.</p>
    {% endif %}
{% endblock content %}